.mixin.out
LICENSE
XaeroWaypoints
XaeroWaypoints_BACKUP032021
XaeroWorldMap
backups
crash-reports
local
logs
options.txt
resourcepacks
rhino.local.properties
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
usercache.json
usernamecache.json
config/oculus
config/roughlyenoughitems
config/xaerominimap.txt
config/xaerominimap_entities.json
config/xaerominimap-common.txt
config/xaeropatreon.txt
config/xaeroworldmap.txt
config/xaeroworldmap-common.txt